@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* ::section {
    background: #f9580e;
    color: #fff;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #0c0b0b;
}

.heading {
    font-size: 4rem;
    color: #f9580e;
    text-align: center;
    padding: 6rem 1rem 0 0;
    letter-spacing: 2rem;
    font-weight: 600;
}

.title {
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: #fff;
}

header {
    width: 100%;
    background: linear-gradient(rgba(51, 28, 10, 0.2), rgba(236,134,0,0.8));
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition: .2s;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;

}

header .navbar ul li a {
    font-size: 2rem;
    color: #fff;
    transition: .1s;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
    color: #f9580e;
}

header .logo {
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
}

header span .material-symbols-outlined {
    font-size: 1rem;
    color: #130701;
    cursor: pointer;
    display: none;
    transition: 2.s;
}

.home {
    min-height: 50vh;
    background-color: #171717;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;

}

.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 25rem;
    text-align: center;
}

.home .content h1 {
    font-size: 5rem;
    color: #f9580e;
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.home .content p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 5rem;
}

.home .content button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #f9580e;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border-color: #f9580e;
}

.home .content button:hover {
    background: none;
    border: .2rem solid #f9580e;
}


.store {
    text-align: center;
    margin: 100px 0;
}

.store .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.store .box-container .box {
    height: 25rem;
    width: 25rem;
    background: #171717;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgb(0, 0, 0 .5);
    margin: 2rem;
    cursor: pointer;
}

.store .box-container .box span, .material-symbols-outlined {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #ffc246;
    font-size: 3rem;
    margin: 2rem 0;
    transition: .2s;
}

.store .box-container .box h3 {
    font-size: 2rem;
    color: #f9580e;
    transition: .2s;

}

.store .box-container .box p {
    font-size: 1.2rem;
    padding: .7rem 2rem;
    color: #eee;
}

.store .box-container .box:hover span, .material-symbols-outlined i {
    background: #f9580e;
}

.store .box-container .box:hover h3 {
    color: #ffc246;
}

.store .box-container .box h4 {
    color: #ffc246;
}

button {
    height: 5rem;
    width: 20rem;
    border-radius: 1rem;
    background: #f9580e;
    color: #eee;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;

}

.store button:hover {
    background: none;
    border: .2rem solid #f9580e;
}

.about {
    background: #171717;

}

.about .title {
    margin-bottom: 3rem;

}

.about h3 {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 15rem;

}

.about .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.about .row .image img {
    height: 90vh;
    width: 100vw;
    margin-top: 100px;
}

.about .row .content {
    padding-left: 5rem;
    margin: 5rem 0;

}

.about .row .content h3 {
    font-size: 3rem;
    color: #f9580e;
}


button:hover {
    height: 5rem;
    width: 17rem;
    background: #f9580e;
    color: #eee;
    border-radius: 1rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
    margin-top: 2rem;

}

.about .row .content button:hover {
    background: none;
    border: .2rem solid #f9580e;
}

.price .box-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 4rem 0;
    flex-wrap: wrap;

}

.price .box-container .box {
    background: #171717;
    margin: 3.5rem 2rem;
    text-align: center;
    border-radius: 1rem;
}

.price .box-container .box img {
    height: 100vh;
    width: 100vw;
    margin-top: 100px;
}

.price .box-container .box h3 {
    font-size: 2rem;
    color: #f9580e;
}

.price .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
}

.price .box-container .box h2 {
    font-size: 3rem;
    background-color: #f9580e;
}

.service span, .material-symbols-outlined {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #ffc246;
    font-size: 3rem;
    margin: 2rem 0;
    transition: .2s; 
}

.service span, .material-symbols-outlined:hover {
    background: none;
    border: .2rem solid #f9580e;
}

.contact h1 {
    text-align: center;
    font-size: 3rem;
    color: #f9580e; 
}

.contact h3 {
    text-align: center;
    font-size: 2rem;
    color: #eee;

}

.form-container {
   display: grid;
   justify-content: center;
   
}

.form-container input, textarea {
    height: 4rem;
    width: 100%;
    background: #ec9046;
    padding: 0 1rem;
    margin: 1rem 0;
    color: #1c0a02;
    font-size: 1.7rem;
    transition: .2s linear;
}

.form-container input:focus, textarea:focus {
    border: .4rem solid #f9580e;
}
.form-container textarea {
    height: 10rem;
    border-radius: 1rem;
    padding: 1rem;
    resize: none;
}

.form-container input [type="submit"] {
    height: 4rem;
    width: 15rem;
    background: #f9580e;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    transition: .2s;
}

.form-container input[type="submit"]:hover {
    background: none;
    color: #f9580e;
    border: .2rem solid #f9580e;
}

.footer  {
    width: 100%;
    height: 100%;
  background-color: #0c0b0b;
   
}

.image img {
    width: 70px;
    height: 70px;

}
.image2 img {
    width: 110px;
    height: 80px;
}
.image3 img {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
}

@media (max-whit: 768xp) {

    html {
        font-size: 55%;
    }
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -100rem;
        left: 0;
        width: 100%;
        background: #171717;
        border-radius: 1rem;
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }

    header .nav-toggle {
        top: 5.5rem;
        opacity: 1;
    }

    .home .content p {
        padding: 1.5rem 2rem;
    }

    .about .row {
        flex-direction: column-reverse;
    }

    .about .row .image img {
        height: 30vh;
        width: 90vw;
    }

    .about .row .content {
        padding: 0 2.5rem;
    }

    .contact .row {
        flex-flow: column;
    }

    .contact .row .form-container {
        width: 90%;
        padding: 0;
    }
}