$color_1: #fff;

.service {
	span {
		height: 6rem;
		width: 6rem;
		line-height: 6rem;
		text-align: center;
		border-radius: 50%;
		color: $color_1;
		background: #ffc246;
		font-size: 3rem;
		margin: 2rem 0;
		transition: .2s;
		background: none;
		border: .2rem solid #f9580e;
	}
}
.material-symbols-outlined {
	height: 6rem;
	width: 6rem;
	line-height: 6rem;
	text-align: center;
	border-radius: 50%;
	color: $color_1;
	background: #ffc246;
	font-size: 3rem;
	margin: 2rem 0;
	transition: .2s;
	&:hover {
		background: none;
		border: .2rem solid #f9580e;
	}
}
