$color_1: #f9580e;
$color_2: #fff;
$background-color_1: #f9580e;

.price {
	.box-container {
		.box {
			background: #171717;
			margin: 3.5rem 2rem;
			text-align: center;
			border-radius: 1rem;
			img {
				height: 100vh;
				width: 100vw;
				margin-top: 100px;
			}
			h3 {
				font-size: 2rem;
				color: $color_1;
			}
			p {
				font-size: 1.5rem;
				color: $color_2;
				padding: 1rem 0;
			}
			h2 {
				font-size: 3rem;
				background-color: $background-color_1;
			}
		}
	}
}
