$color_1: #f9580e;
$color_2: #eee;

.home {
	.content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		padding-top: 25rem;
		text-align: center;
		h1 {
			font-size: 5rem;
			color: $color_1;
			padding: 0 1rem;
			text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
			text-transform: uppercase;
		}
		p {
			font-size: 2rem;
			color: $color_2;
			padding: 1rem 5rem;
		}
	}
}
