.home {
    min-height: 50vh;
    background-color: #171717;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;

}