$color_1: #fff;

.store {
	.box-container {
		.box {
			span {
				height: 6rem;
				width: 6rem;
				line-height: 6rem;
				text-align: center;
				border-radius: 50%;
				color: $color_1;
				background: #ffc246;
				font-size: 3rem;
				margin: 2rem 0;
				transition: .2s;
			}
			&:hover {
				span {
					background: #f9580e;
				}
			}
		}
	}
}
.material-symbols-outlined {
	height: 6rem;
	width: 6rem;
	line-height: 6rem;
	text-align: center;
	border-radius: 50%;
	color: $color_1;
	background: #ffc246;
	font-size: 3rem;
	margin: 2rem 0;
	transition: .2s;
	i {
		background: #f9580e;
	}
}

