$color_1: #f9580e;
$color_2: #eee;
$color_3: #ffc246;

.store {
	.box-container {
		.box {
			height: 25rem;
			width: 25rem;
			background: #171717;
			text-align: center;
			border-radius: 1rem;
			box-shadow: 0 .3rem 5rem rgb(0, 0, 0 .5);
			margin: 2rem;
			cursor: pointer;
			h3 {
				font-size: 2rem;
				color: $color_1;
				transition: .2s;
			}
			p {
				font-size: 1.2rem;
				padding: .7rem 2rem;
				color: $color_2;
			}
			&:hover {
				h3 {
					color: $color_3;
				}
			}
			h4 {
				color: $color_3;
			}
		}
	}
}
